
*.lock

emacs.d/ido.last

emacs.d/SessionDesktop.el

config/configstore/insight-bower.yml

config/configstore/update-notifier-bower.yml

config/gtk-2.0/gtkfilechooser.ini

config/ranger/bookmarks

config/ranger/history

config/ranger/tagged

emacs.d/bookmarks

emacs.d/ensime/classpath_*

emacs.d/org-clock-save.el

emacs.d/site-start.el

emacs.d/url/cookies
