[submodule "vim/bundle/bundle/fugitive"]
	path = vim/bundle/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/bundle/bufexplorer"]
	path = vim/bundle/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/bundle/ctrlp.vim"]
	path = vim/bundle/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/bundle/neocomplete.vim"]
	path = vim/bundle/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/bundle/bundle/nerdtree"]
	path = vim/bundle/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/bundle/numbers.vim"]
	path = vim/bundle/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/bundle/sbt-vim"]
	path = vim/bundle/bundle/sbt-vim
	url = https://github.com/ktvoelker/sbt-vim.git
[submodule "vim/bundle/bundle/supertab"]
	path = vim/bundle/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/bundle/vim-airline"]
	path = vim/bundle/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/bundle/vim-orgmore"]
	path = vim/bundle/bundle/vim-orgmore
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/bundle/vim-pathogen"]
	path = vim/bundle/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/bundle/vim-scala"]
	path = vim/bundle/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/bundle/vim-scalaConceal"]
	path = vim/bundle/bundle/vim-scalaConceal
	url = https://github.com/mpollmeier/vim-scalaConceal.git
[submodule "vim/bundle/bundle/vim-sensible"]
	path = vim/bundle/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/bundle/vim-speeddating"]
	path = vim/bundle/bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
