packages: [
  "browser-plus"
  "Ensime"
  "file-templates"
  "git-plus"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "language-latex"
  "language-scala"
  "latex"
  "latexer"
  "linter"
  "markdown-folder"
  "markdown-writer"
  "monokai"
  "package-sync"
  "project-find-navigation"
  "sort-lines"
  "terminal-plus"
  "travis-ci-status"
]
